doctype html
html
	head
		title Whizzy 2014 Randomizer
		meta(charset="utf-8")
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')

		//- CSS sources
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="asset/reveal.css")
		link(rel="stylesheet", href="asset/default.css", id="theme")
		link(rel="stylesheet", href="css/main.css", type="text/css")

	body(data-js-class=jsClass)
		img(id="logo-small", src="asset/logo_small.png")

		.reveal
			.slides

		script(src="http://code.jquery.com/jquery-2.1.4.min.js")
		script(src="http://lab.hakim.se/reveal-js/lib/js/head.min.js")
		script(src="http://lab.hakim.se/reveal-js/js/reveal.js")
		script(src="js/main-min.js")
		script.
			var host = "#{environment.host}";