doctype html
html
	head
		title Whizzy
		meta(charset="utf-8")
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')

		//- CSS sources
		link(rel="stylesheet", href="asset/reveal.css")
		link(rel="stylesheet", href="asset/default.css", id="theme")
		link(rel="stylesheet", href="css/main.css", type="text/css")

	body(data-js-class=jsClass)
		img(id="logo-small", src="asset/logo_small.png")

		.reveal
			.slides

		script(src="asset/jquery-2.1.4.min.js")
		script(src="asset/head.min.js")
		script(src="asset/reveal.js")
		script(src="js/main-min.js")
		script.
			var host = "#{environment.host}";